---
import MainLayout from "../../../layout/MainLayout.astro";
import JSDOMExercise from "../../../content/exercises/JSDOM.md";
---

<MainLayout title="JS DOM Exercise">
	<section class="topic">
		<p>Exercises to learn how to work with the Document Object Model (DOM) using JavaScript</p>
	</section>

	<section class="topic">
		<JSDOMExercise />
	</section>
</MainLayout>
