---
import MainLayout from "../../../layout/MainLayout.astro";
import JSEventsExercise from "../../../content/exercises/JSEvents.md";
---

<MainLayout title="JS Events Exercise">
	<section class="topic">
		<p>Exercises to learn how to work with the JavaScript Events</p>
	</section>

	<section class="topic">
		<JSEventsExercise />
	</section>
</MainLayout>
