---
import MainLayout from "../../../layout/MainLayout.astro";
---

<MainLayout title="Hello World Exercise">
	<section class="topic">
		<p>Exercise to get your feet wet writing code for a simple webpage.</p>
	</section>
</MainLayout>
