---
import MainLayout from "../../../layout/MainLayout.astro";
---

<MainLayout title="Project 3: Tutorial 'Bugs'">
	<section class="topic">
		<p>As you go through the tutorials you'll see some differences in their version and the newer version of the UI. Here are some differences I found that you may run into.</p>
	</section>

	<section class="topic">
		<h2>Video - Site Build: Hero (Part 1 of 10)</h2>
		<h3>Layout - Flex</h3>
		<p>The Flex options are laid out much differently than in the video.</p>
	</section>
</MainLayout>
