---
import MainLayout from "../../../layout/MainLayout.astro";
---

<MainLayout title="Project 3: Webflow 101">
	<section class="topic">
		<p>For this project you will learn the basics of Webflow by completing a Webflow 101 video tutorial series. The video series can be found at: <a href="https://university.webflow.com/courses/webflow-101">https://university.webflow.com/courses/webflow-101</a>.</p>
		<p><strong>Note:</strong> you will need to create an account before you can watch the videos from their Webflow University site.</p>
	</section>

	<section class="topic">
		<h2>Creating an Account</h2>
		<ol>
			<li>Go to webflow.com and click the Get Started link/button.</li>
			<li>Enter in your email.</li>
			<li>Create a password.</li>
			<li>Add your name to the personalize section.</li>
			<li>Under the who do you want to build websites for choose "Myself".</li>
			<li>Are you a student? Choose yes.</li>
			<li>What type of site are you looking to build? I chose "Other". Also uncheck the box on getting email updates. (Unless you want emails from them)</li>
			<li>
				Next an interface tutorial will start. It's not that long so I would recommend going through it.
				<p class="--max-780">
					<img src="/images/projects/webflow/07-webflow-interface-get-started-tutorial.jpg" alt="Interface tutorial" />
				</p>
			</li>
			<li>
				Once finished with the interface tutorial, choose to create a "Blank Site".
				<p class="--max-780">
					<img src="/images/projects/webflow/08-webflow-create-blank-site.jpg" alt="Blank Site screenshot" />
				</p>
			</li>
			<li>
				Be sure to check your email and confirm the email for the Webflow account you created.

				<p class="--max-780">
					<img src="/images/projects/webflow/webflow-email-to-confirm-account.jpg" alt="Verify email screenshot" />
				</p>
			</li>
		</ol>
	</section>

	<section class="topic">
		<h2>Video Tutorial Directions</h2>
		<p><strong>Note:</strong> be aware there are a couple of small differences in the interface from when the videos were made. One I know for sure is how you save a color swatch. I'll try to get that information added here to help you out.</p>
		<p>Shoot me an email if you run into any questions with the tutorial.</p>
		<ol>
			<li>Download Tutorial Files: <a href="/exercise-files/webflow/Webflow-101-files.zip">Course Assets</a>. You will need these for the tutorial</li>
			<li>Open up the blank site you created earlier.</li>
			<li>Follow along with this tutorial series from Webflow <a href="https://university.webflow.com/courses/webflow-101" target="_blank">https://university.webflow.com/courses/webflow-101</a></li>
			<li>They fast forward when giving the images alt text, so you don&rsquo;t have to copy theirs. You can keep it brief to save time.</li>
			<li>When you get to the video on linking a custom domain to the site, don&rsquo;t do that. I don&rsquo;t want you to buy a domain just go with a free one supplied by webflow and publish the site to make it live</li>
			<li>Once complete send me the link to your site so I can grade it.</li>
		</ol>
	</section>
</MainLayout>
