---
import MainLayout from "../../../layout/MainLayout.astro";
---

<MainLayout title="Project 3: Webflow 101">
	<section class="topic">
		<p>For this project you will learn the basics of Webflow by completing a Webflow 101 video tutorial series. The video series can be found at: <a href="https://university.webflow.com/courses/webflow-101">https://university.webflow.com/courses/webflow-101</a>.</p>
		<p>Note: you will need to create an account before you can watch the videos from their university.webflow.com site.</p>
	</section>

	<section class="topic">
		<h2>Creating an Account</h2>
	</section>

	<section class="topic">
		<h2>Course Files</h2>
		<p>Download Tutorial Files: <a href="/exercise-files/webflow/Webflow-101-files.zip">Course Assets</a>.</p>
	</section>
</MainLayout>
