---
import MainLayout from "../../../layout/MainLayout.astro";
import EnterContent from "../../../content/exercises/simple-page/Step-01-entering-content.md";
---

<MainLayout title="Enter Content - Creating a Simple Webpage">
	<section class="topic">
		<p>Chapter 4 exercise from the book.</p>
	</section>

	<section class="topic">
		<EnterContent />
	</section>

	<section class="topic">
		<h3>Next Step</h3>
		<p><a href="/exercises/simple-page/02-minimal-structure">Step 2 - Minimal Structure</a></p>
	</section>
</MainLayout>
