---
import MainLayout from "../../../layout/MainLayout.astro";
import EnterContent from "../../../content/exercises/simple-page/Step-02-minimal-structure.md";
---

<MainLayout title="Minimal Structure - Creating a Simple Webpage">
	<section class="topic">
		<EnterContent />
	</section>

	<section class="topic">
		<h3>Next Step</h3>
		<p><a href="/exercises/simple-page/02-minimal-structure">Step 3 - Defining Text Elements</a></p>
	</section>
</MainLayout>
