---
import MainLayout from "../../../layout/MainLayout.astro";
---

<MainLayout title="Ch. 4 - Creating a Simple Webpage">
	<section class="topic">
		<p>Chapter 4 exercise from the book.</p>
	</section>

	<section class="topic">
		<h3>Next Step</h3>
		<p><a href="/exercises/simple-page/01-entering-content">Step 1 - Entering Content</a></p>
	</section>
</MainLayout>
