---
import MainLayout from "../../../layout/MainLayout.astro";
import ProjectSetup from "../../../content/projects/shopoholic/Step-01-project-setup.md";
---

<MainLayout title="Shopoholic - Project Setup">
	<section class="topic">
		<p>Setting up the basic file structure for the application.</p>
	</section>

	<section class="topic">
		<ProjectSetup />
	</section>

	<footer class="steps-nav">
		<nav>
			<a class="steps-nav__prev" href="/projects/shopoholic">&#8592; Project Intro</a>

			<a class="steps-nav__next" href="/projects/shopoholic/02-html-structure">HTML Structure &#8594;</a>
		</nav>
	</footer>
</MainLayout>
