---
import MainLayout from "../../../layout/MainLayout.astro";
import HTMLStructure from "../../../content/projects/shopoholic/Step-02-HTML.md";
---

<MainLayout title="Shopoholic - HTML Structure">
	<section class="topic">
		<p>Writing out the HTML for the application.</p>
	</section>

	<section class="topic">
		<HTMLStructure />
	</section>

	<footer class="steps-nav">
		<nav>
			<a class="steps-nav__prev" href="/projects/shopoholic/01-project-setup">&#8592; Project Setup</a>

			<a class="steps-nav__next" href="/projects/shopoholic/03-css-styles">CSS Styles &#8594;</a>
		</nav>
	</footer>
</MainLayout>
