---
import MainLayout from "../../../layout/MainLayout.astro";
import Javascript from "../../../content/projects/shopoholic/Step-04-Javascript.md";
---

<MainLayout title="Shopoholic - JavaScript Logic">
	<section class="topic">
		<p>Writing out the JavaScript logic for the application.</p>
	</section>

	<section class="topic">
		<Javascript />
	</section>

	<footer class="steps-nav">
		<nav>
			<a class="steps-nav__prev" href="/projects/shopoholic/03-css-styles">&#8592; CSS Styles</a>
		</nav>
	</footer>
</MainLayout>
