---
import MainLayout from "../../../layout/MainLayout.astro";
import Javascript from "../../../content/projects/shopoholic/Step-05-Final-JS-Code.md";
---

<MainLayout title="Shopoholic - Final JS Code (Challenge Answer)">
	<section class="topic">
		<p>Here's the code for the challenge to add a clear list button to the project.</p>
	</section>

	<section class="topic">
		<Javascript />
	</section>

	<footer class="steps-nav">
		<nav>
			<a class="steps-nav__prev" href="/projects/shopoholic/04-javascript">&#8592; JavaScript Logic</a>
		</nav>
	</footer>
</MainLayout>
