---
import MainLayout from "../../../layout/MainLayout.astro";
import ProjectIntro from "../../../content/projects/shopoholic/Step-00-Intro.md";
---

<MainLayout title="Project: Shopoholic App - Intro">
	<section class="topic">
		<p>This project will go through steps to build out a simple application to make a shopping list.</p>

		<p>There are no starting files to download. You will create all the files and project folder.</p>

		<hr />

		<p><strong>Note:</strong> You can navigate through the steps/pages for this project using the sizebar navigation under 'Shopping List App' or by using the navigation at the bottom of each page.</p>
	</section>

	<section class="topic">
		<ProjectIntro />
	</section>

	<footer class="steps-nav">
		<nav>
			<a class="steps-nav__next" href="/projects/shopoholic/01-project-setup">Step 1: Project Setup &#8594;</a>
		</nav>
	</footer>
</MainLayout>
