---
import MainLayout from '../layout/MainLayout.astro';
import AccessingElements from '../content/topics/dom/AccessingElements.md';
---
<MainLayout title="Events">
<section class="topic">
  <p>Info on event listeners...</p>
</section>

<!-- Accessing Elements -->
<section class="topic">
  <AccessingElements />
</section>
</MainLayout>