---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout>
	<section class="topic">
		<p>This site is a work-in-progress. It's purpose is to have one place to hold useful information for the COM Web Design Courses.</p>
	</section>
	<section class="topic">
		<h2 class="title">Current Exercise - Hello World Bio</h2>
		<p>Exercise Link: <a href="/exercises/helloworldbio/01-project-setup">Hello World Bio</a></p>
		<p>Crash course into creating a webpage using HTML and CSS.</p>
		<div class="screenshot" style="max-width: 700px; width: 100%;">
			<picture>
				<img src="/images/exercises/helloworldbio/15-final-browser-check.webp" alt="Final page screenshot" />
			</picture>
		</div>
	</section>
</MainLayout>
