---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout>
	<section class="topic">
		<p>This site is a work-in-progress. It's purpose is to have one place to hold useful information for the COM Web Design Courses.</p>
	</section>
	<section class="topic">
		<h2 class="title">Current Project - Webflow 101</h2>
		<p>Project Link: <a href="/projects/webflow/">Webflow 101</a></p>
		<p>Learn how to use an online website builder. This website builder is very powerful and was made for web developers with prior knowledge of HTML and CSS.</p>
		<div class="screenshot">
			<picture>
				<img src="/images/projects/webflow/webflow-site-screenshot.webp" alt="Webflow site screenshot" />
			</picture>
		</div>
	</section>
</MainLayout>
