---
import MainLayout from '../layout/MainLayout.astro';
import TaskManagerApp from '../content/projects/TaskManagerApp.md';
---
<MainLayout title="JavaScript Projects">
<section class="topic">
	<p>Various projects using Vanilla JS.</p>
</section>

<section class="topic">
	<TaskManagerApp />
</section>
</MainLayout>