---
import MainLayout from "../../../layout/MainLayout.astro";
import ProjectSetup from "../../../content/exercises/helloworldbio/Step-01-project-setup.md";
---

<MainLayout title="Hello World Exercise">
	<section class="topic">
		<p>Exercise to get your feet wet writing code for a simple webpage.</p>
	</section>

	<section class="topic">
		<ProjectSetup />
	</section>

	<section class="topic">
		<h3>Next Step</h3>
		<p><a href="/exercises/helloworldbio/02-html-code">Step 2 - HTML Code</a></p>
	</section>
</MainLayout>
