---
import MainLayout from "../../../layout/MainLayout.astro";
import HTML from "../../../content/exercises/helloworldbio/Step-02-html.md";
---

<MainLayout title="Hello World Exercise - HTML Code">
	<section class="topic">
		<p>Writing out the HTML code for this page. It's perfectly fine if you don't understand what's going on yet. The purpose of this is just for some hands-on experience with the process.</p>
	</section>

	<section class="topic">
		<HTML />
	</section>

	<section class="topic">
		<h3>Next Step</h3>
		<p><a href="/exercises/helloworldbio/03-css-code">Step 3 - CSS Code</a></p>
	</section>
</MainLayout>
