---
import MainLayout from "../../../layout/MainLayout.astro";
import CSS from "../../../content/exercises/helloworldbio/Step-03-css.md";
---

<MainLayout title="Hello World Exercise - CSS Code">
	<section class="topic">
		<p>We're going to write some simple CSS code to give our page a bit more style.</p>
	</section>

	<section class="topic">
		<CSS />
	</section>
</MainLayout>
