---
const { title = "Web Design Course Docs" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/css/global.css" />
		<title>{title}</title>
	</head>
	<body>
		<div class="page">
			<aside class="toc">
				<h2>Topics:</h2>
				<h3 class="dropdown-title">
					Exercises <button class="icon-dropdown"><img src="/images/nav-arrow.svg" alt="" /></button>
				</h3>
				<h4>Hello World Bio</h4>
				<nav>
					<ul>
						<li><a href="/exercises/helloworldbio/01-project-setup">01 Project Setup</a></li>
						<li><a href="/exercises/helloworldbio/02-html-code">02 HTML Code</a></li>
						<li><a href="/exercises/helloworldbio/03-css-code">03 CSS Code</a></li>
					</ul>
				</nav>
				<nav>
					<ul>
						<!-- <li><a href="/exercises/js/01-dom">JS DOM</a></li>
						<li><a href="/exercises/js/02-events">JS Budget Tracking</a></li> -->
					</ul>
				</nav>

				<h3>Projects</h3>
				<h4>Webflow 101</h4>
				<nav>
					<ul>
						<li><a href="/projects/webflow">Project Details</a></li>
					</ul>
				</nav>
				<h4>Shopping List App</h4>
				<nav>
					<ul>
						<li><a href="/projects/shopoholic">Project Intro</a></li>
						<li><a href="/projects/shopoholic/01-project-setup">01 Project Setup</a></li>
						<li><a href="/projects/shopoholic/02-html-structure">02 HTML</a></li>
						<li><a href="/projects/shopoholic/03-css-styles">03 CSS</a></li>
						<li><a href="/projects/shopoholic/04-javascript">04 JavaScript</a></li>
					</ul>
				</nav>
			</aside>

			<section class="main-content">
				<header class="main-header">
					<h1>{title}</h1>
				</header>

				<main>
					<slot />
				</main>
			</section>
		</div>
	</body>
</html>
